{% extends 'base.html' %}

{% block title %}
演示页面
{% endblock %}


{% block content %}
<!-- Breadcrumb  -->
<section class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<div class="breadcrumb-content">
					<h2>Events</h2>
					<ul>
						<li><a href="index.html">Home</a><span>/</span></li>
						<li>Events</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.breadcrumb-section  -->

<!-- Event Section -->
<section class="event-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="single-event">
					<div class="event-img">
						<img src="images/event/thumb1.jpg" alt="">
						<div class="class-hover">
							<a class="popup" href="images/event/thumb1.jpg"><i class="icon-link"></i></a>
						</div>
						<a href="#">15<span>mar</span></a>
					</div>
					<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></h3>
					<a href="#">Mar 15, 2016, 2:00 - 4:00 pm</a>
					<a href="#">Herbert Hoover Conference House San Diego, CA</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco 
						laboris nisi ut aliquip ex ea commodo consequat.
					</p>   
				</div>
				<div class="single-event">
					<div class="event-img">
						<img src="images/event/thumb3.jpg" alt="">
						<div class="class-hover">
							<a class="popup" href="images/event/thumb3.jpg"><i class="icon-link"></i></a>
						</div>
						<a href="#" class="bg2">15<span>mar</span></a>
					</div>
					<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></h3>
					<a href="#">Mar 15, 2016, 2:00 - 4:00 pm</a>
					<a href="#">Herbert Hoover Conference House San Diego, CA</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco 
						laboris nisi ut aliquip ex ea commodo consequat.
					</p>   
				</div>
				<div class="single-event">
					<div class="event-img">
						<img src="images/event/thumb5.jpg" alt="">
						<div class="class-hover">
							<a class="popup" href="images/event/thumb5.jpg"><i class="icon-link"></i></a>
						</div>
						<a href="#" class="bg3">15<span>mar</span></a>
					</div>
					<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></h3>
					<a href="#">Mar 15, 2016, 2:00 - 4:00 pm</a>
					<a href="#">Herbert Hoover Conference House San Diego, CA</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco 
						laboris nisi ut aliquip ex ea commodo consequat.
					</p>   
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="single-event">
					<div class="event-img">
						<img src="images/event/thumb2.jpg" alt="">
						<div class="class-hover">
							<a class="popup" href="images/event/thumb2.jpg"><i class="icon-link"></i></a>
						</div>
						<a href="#" class="bg4">15<span>mar</span></a>
					</div>
					<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></h3>
					<a href="#">Mar 15, 2016, 2:00 - 4:00 pm</a>
					<a href="#">Robert School San Diego, North house, DC 12000</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco 
						laboris nisi ut aliquip ex ea commodo consequat.
					</p>   
				</div>
				<div class="single-event">
					<div class="event-img">
						<img src="images/event/thumb4.jpg" alt="">
						<div class="class-hover">
							<a class="popup" href="images/event/thumb4.jpg"><i class="icon-link"></i></a>
						</div>
						<a href="#" class="bg5">15<span>mar</span></a>
					</div>
					<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></h3>
					<a href="#">Mar 15, 2016, 2:00 - 4:00 pm</a>
					<a href="#">Robert School San Diego, North house, DC 12000</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco 
						laboris nisi ut aliquip ex ea commodo consequat.
					</p>   
				</div>
				<div class="single-event">
					<div class="event-img">
						<img src="images/event/thumb6.jpg" alt="">
						<div class="class-hover">
							<a class="popup" href="images/event/thumb6.jpg"><i class="icon-link"></i></a>
						</div>
						<a href="#" class="bg6">15<span>mar</span></a>
					</div>
					<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></h3>
					<a href="#">Mar 15, 2016, 2:00 - 4:00 pm</a>
					<a href="#">Robert School San Diego, North house, DC 12000</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco 
						laboris nisi ut aliquip ex ea commodo consequat.
					</p>   
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<ul class="paginations post-pagi">
					<li><a href="#"><i aria-hidden="true" class="fa fa-angle-left"></i></a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
					<li><a href="#">10</a></li>
					<li><a href="#"><i aria-hidden="true" class="fa fa-angle-right"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /.event-section -->
{% endblock %}