{% extends 'base.html' %}

{% block title %}
演示页面
{% endblock %}


{% block content %}
<!-- Breadcrumb  -->
<section class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<div class="breadcrumb-content">
					<h2>Shortcode</h2>
					<ul>
						<li><a href="index.html">Home</a><span>/</span></li>
						<li>Shortcode</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.breadcrumb-section  -->

<!-- Shortcode Section -->
<section class="shortcodes-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="single-button">
					<a href="#" class="primary-btn large"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn medium"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn small"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn"><span>Enroll Your Child</span></a>
				</div>
				<div class="colored-button">
					<a href="#" class="primary-btn bg1"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn bg2"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn bg3"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn bg4"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn bg5"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn bg6"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn bg7"><span>Enroll Your Child</span></a>
					<a href="#" class="primary-btn bg8"><span>Enroll Your Child</span></a>
				</div>
				<div class="features-center">
					<div class="row">
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility">
								<i class="icon-trophy"></i>
								<h4>Pre-School Sports</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility two">
								<i class="icon-food"></i>
								<h4>Healthy Meals</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility three">
								<i class="icon-play"></i>
								<h4>Multimedia Class</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility four">
								<i class="icon-color"></i>
								<h4>Music And Art Class</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="features-left">
					<div class="row">
						<div class="col-sm-3 col-xs-12 text-left">
							<div class="single-facility">
								<i class="icon-trophy"></i>
								<h4>Pre-School Sports</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-left">
							<div class="single-facility two">
								<i class="icon-food"></i>
								<h4>Healthy Meals</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-left">
							<div class="single-facility three">
								<i class="icon-play"></i>
								<h4>Multimedia Class</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-left">
							<div class="single-facility four">
								<i class="icon-color"></i>
								<h4>Music And Art Class</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="features-ico-bg">
					<div class="row">
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility">
								<i class="icon-trophy"></i>
								<h4>Pre-School Sports</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility">
								<i class="icon-food"></i>
								<h4>Healthy Meals</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility">
								<i class="icon-play"></i>
								<h4>Multimedia Class</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 text-center">
							<div class="single-facility">
								<i class="icon-color"></i>
								<h4>Music And Art Class</h4>
								<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="tab-style-one">
					<!-- Nav tabs -->
					<ul class="tab-nav" role="tablist">
						<li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">Title One</a></li>
						<li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab">Title Two</a></li>
						<li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab">Title Three</a></li>
						<li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab">Title Four</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="one">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="two">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="three">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="four">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="tab-style-two">
					<!-- Nav tabs -->
					<ul class="tab-nav2" role="tablist">
						<li role="presentation" class="active"><a href="#one2" aria-controls="one2" role="tab" data-toggle="tab">Title One</a></li>
						<li role="presentation"><a href="#two2" aria-controls="two2" role="tab" data-toggle="tab">Title Two</a></li>
						<li role="presentation"><a href="#three2" aria-controls="three2" role="tab" data-toggle="tab">Title Three</a></li>
						<li role="presentation"><a href="#four2" aria-controls="four2" role="tab" data-toggle="tab">Title Four</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="one2">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="two2">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="three2">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="four2">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
								do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								Ut enim ad minim veniam, quis nostrud exercitation ullamco 
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
								irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="accordion-one">
					<h4>Accordion Style One</h4>
					<div class="panel-group" id="accordion" role="tablist">
						<div class="panel panel-default" role="tab" >
							<div class="panel-heading" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne">
										Does not reflect adjustments for fees, costs, or medical liens
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								</div>
							</div>
						</div>
						<div class="panel panel-default" role="tab" >
							<div class="panel-heading" id="headingTwo">
								<h4 class="panel-title">
									<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseTwo">
										Does not reflect adjustments for fees, costs, or medical liens
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								</div>
							</div>
						</div>
						<div class="panel panel-default" role="tab" >
							<div class="panel-heading" id="headingThree">
								<h4 class="panel-title">
									<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseThree">
										Does not reflect adjustments for fees, costs, or medical liens
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="accordion-two">
					<h4>Accordion Style Two</h4>
					<div class="panel-group" id="accordion2" role="tablist">
						<div class="panel panel-default" role="tab" >
							<div class="panel-heading" id="headingOne2">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-controls="collapseOne2">
										Does not reflect adjustments for fees, costs, or medical liens
									</a>
								</h4>
							</div>
							<div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								</div>
							</div>
						</div>
						<div class="panel panel-default" role="tab" >
							<div class="panel-heading" id="headingTwo2">
								<h4 class="panel-title">
									<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-controls="collapseTwo2">
										Does not reflect adjustments for fees, costs, or medical liens
									</a>
								</h4>
							</div>
							<div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								</div>
							</div>
						</div>
						<div class="panel panel-default" role="tab" >
							<div class="panel-heading" id="headingThree2">
								<h4 class="panel-title">
									<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-controls="collapseThree2">
										Does not reflect adjustments for fees, costs, or medical liens
									</a>
								</h4>
							</div>
							<div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}