{% extends 'base.html' %}

{% block title %}
演示页面
{% endblock %}


{% block content %}
<!-- Breadcrumb  -->
<section class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<div class="breadcrumb-content">
					<h2>Our Staff</h2>
					<ul>
						<li><a href="index.html">Home</a><span>/</span></li>
						<li>Our Staff</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.breadcrumb-section  -->

<!-- Team Section -->
<section class="team-section teacher-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<h2 class="title">Meet Our Staffs</h2>
				<p class="subtitle color">
					Best Skilled Teacher
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff1.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Ricardo Spencer</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff2.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Fanny Greer</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff3.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Albert Cole</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff4.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Rhoda Byrd</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff5.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Mike Campau</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff6.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Fernando Vicente</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff7.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Nick Liefhebber</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/about/staff8.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Antonio Sortino</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff9.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Ricardo Spencer</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff10.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Fanny Greer</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff11.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Albert Cole</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff12.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Rhoda Byrd</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff13.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Mike Campau</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff14.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Fernando Vicente</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff15.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Nick Liefhebber</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-team">
					<div class="team-img">
						<img alt="" src="images/teacher/staff16.jpg">
						<ul class="team-social">
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<h3>Antonio Sortino</h3>
					<p>Assistant Teacher</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.team-section -->

<!-- Call to Action -->
<section class="callto-action-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="callto-content">
					<h2>Enrollment is now going on, please contact us.</h2>
					<a href="#" class="primary-btn pull-right"><span>Enroll Now</span></a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.callto-action-section -->

<!-- Address Section -->
<section class="address-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-address">
					<i class="icon-class"></i>
					<h3>Class Sessions</h3>
					<address>
						<p>Sat - Fri (8 am – 2 pm)</p>
						<p>Sun - Mon (8 am – 11 am)</p>
					</address>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-address two">
					<i class="icon-map"></i>
					<h3>Kidzy Address</h3>
					<address>
						<p>123 White Amphitheatre Kinway,</p>
						<p>Mountain, CA 12345, USA</p>
					</address>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-address three">
					<i class="icon-clock"></i>
					<h3>Office Hours</h3>
					<address>
						<p>Monday – Friday</p>
						<p>8.00 am – 5.00 pm</p>
					</address>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-xs-12 text-center">
				<div class="single-address four">
					<i class="icon-call"></i>
					<h3>Phone & E-mail</h3>
					<address>
						<p>+123 456 78910</p>
						<p>enroll@kidzy.com</p>
					</address>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.address-section -->
{% endblock %}