{% extends 'base.html' %}

{% block title %}
演示页面
{% endblock %}


{% block content %}
<script src="/static/my/function.js"></script>
<!-- Breadcrumb  -->
<section class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<div class="breadcrumb-content">
					<h2>人人二手车数据展示</h2>
					<ul>
						<li><a href="index.html">首页</a><span>/</span></li>
						<li>汽车</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.breadcrumb-section  -->

<!-- Classes Section -->
<section class="classes-section-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="class-sort-btn-section">
					<ul class="sort-btn pull-left">
						<li class="active filter" data-filter="mix"><a href="#">全部({{ count }}条)</a></li>
						<li class="filter" data-filter="kinder" id="kinder"><a href="#">分组 1</a></li>
						<li class="filter" data-filter="play" id="play"><a href="#">分组 2</a></li>
						<li class="filter" data-filter="primary" id="primary"><a href="#">分组 3</a></li>
						<li class="filter" data-filter="story" id="story"><a href="#">分组 4</a></li>
					</ul>
					<form method="post" action="#" class="class-search pull-right">
						<input type="search" name="search" placeholder="Search classes">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="row" class="cars-list">




		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<ul class="paginations">
					<li><a href="#"><i class="icon-prev"></i></a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
					<li><a href="#">10</a></li>
					<li><a href="#"><i class="icon-next"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /.classes-section -->

<!-- Facilities Section -->
<section class="facility-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="title-with-icon text-center">
					<img alt="" src="images/home1/facility.png">
					<h2 class="title-2">School Fecilities</h2>
					<p class="subtitle-2">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
						eiusmod tempor incididunt ut labore et dolore magna <br>aliqua. Ut 
						enim ad minim veniam, quis nostrud exercitation ullamco.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-xs-12 text-center">
				<div class="single-facility">
					<i class="icon-trophy"></i>
					<h4>Pre-School Sports</h4>
					<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 text-center">
				<div class="single-facility two">
					<i class="icon-food"></i>
					<h4>Healthy Meals</h4>
					<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 text-center">
				<div class="single-facility three">
					<i class="icon-lay"></i>
					<h4>Multimedia Class</h4>
					<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 text-center">
				<div class="single-facility four">
					<i class="icon-color"></i>
					<h4>Music And Art Class</h4>
					<p>Lorem ipsum dolor sit amet,consectetur adipisicing.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.facility-section -->

{% raw %}
<script type="text/html" id="rrc-car-tmpl">
	<div id="mixer">
{{ each cars as car }}

				<div class="col-sm-4 col-xs-12 mix kinder play">
					<div class="single-class">
						<div class="class-img">
							<img alt="汽车图片" src="{{ car.img_src }}">
							<div class="class-hover">
								<a href="{{ car.info_page_url }}" class="popup"><i class="icon-link"></i></a>
							</div>
						</div>
						<div class="class-details">
							<h3><a href="{{ car.info_page_url }}" style="color: black">{{ car.title }}</a></h3>
							<p>{{ car.discount }}
                                {{ if car.tags }}
                                -{{ car.tags }}
                                {{ endif }}
                            </p>
							<div class="clearfix">
								<div class="class-meta pull-left">
									<span>购车时间</span>
									<p style="font-size: 10px">{{ car.year }}</p>
								</div>
								<div class="class-meta pull-left">
									<span>里程数</span>
									<p style="font-size: 10px">{{ car.mileage }}</p>
								</div>
								<div class="class-meta pull-left">
									<span>首付</span>
									<p style="font-size: 10px">{{ car.first_pay }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>




{{ /each }}
		<div class="clearfix"></div>
			</div>
</script>
{% endraw %}

{% endblock %}


